In [24]:
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy.stats import barnard_exact

In [8]:
data = pd.read_csv('data.csv')
display(data.head())
display(data.info())

   plant_id bed_id bed_type  out_survive
0         1      A   no-dig            1
1         2      B      dig            1
2         3      A   no-dig            0
3         4      B      dig            1
4         5      C      dig            1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   plant_id     12 non-null     int64
 1   bed_id       12 non-null     object
 2   bed_type     12 non-null     object
 3   out_survive  12 non-null     int64
dtypes: int64(2), object(2)
memory usage: 516.0+ bytes

None

In [17]:
survival_contingency = pd.crosstab(data.bed_type, data.out_survive)
survival_contingency

out_survive  0  1
bed_type
dig          0  6
no-dig       2  4

In [36]:
barnard_exact(survival_contingency, alternative='two-sided', pooled=False, n=32)
# Barnard becuase it is more powerful than Fisher and only one margin is fixed
# unpooled as unknown if variences are the same for each group. Pooling assumes the same varience. https://cran.r-project.org/web/packages/Exact/Exact.pdf , https://stats.stackexchange.com/questions/169864/which-test-for-cross-table-analysis-boschloo-or-barnard

BarnardExactResult(statistic=-3.8729833462074166, pvalue=0.18847656250000022)

In [39]:
barnard_exact([[0,6],[3,3]], alternative='two-sided', pooled=False, n=32)

BarnardExactResult(statistic=-4.242640687119285, pvalue=0.06347656250000001)